<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/css/base.css">

    {% block style %}
    {% endblock %}

    {% block script %}
    {% endblock %}

    {% block title %}
    {% endblock %}
</head>
<body>
    <header class="row">
        <div class="col-4">
            <!-- <li><a href="ExperienciasProfissionais">Experiência Profissional</a></li> -->
            <!-- <li><a href="Projetos">Projetos</a></li> -->
            <a href="ProjetosAcademicos">Projetos Acadêmicos</a>
            <a href="ProjetosPessoais">Projetos Pessoais</a>
        </div>
        <div id="header-logo" class="col-4">
            <img src="static/images/Logo.png" alt="Logo">
            <a href="/">Quem Sou</a>
        </div>
        <div class="col-4">
            <a href="Hobbies">Meus Hobbies</a>
            <!-- <a href="Tecnologias">Tecnologias Utilizadas</a> -->
            <a href="Certificados">Certificados</a>
        </div>
    </header>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="row">
        <div class="col-2"></div>
        <div class="col-3">
            <ul>
                <!-- <li><a href="ExperienciasProfissionais">Experiência Profissional</a></li> -->
                <!-- <li><a href="Projetos">Projetos</a></li> -->
                <li><a href="ProjetosAcademicos">P. Acadêmicos</a></li>
                <li><a href="ProjetosPessoais">P. Pessoais</a></li>
                <li><a href="Quem Sou">Quem Sou</a></li>
                <li><a href="Hobbies">Hobbies</a></li>
                <li><a href="Tecnologias">Tecnologias</a></li>
            </ul>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
            <ul>
                <li><a>Rafael Nunes de Farias Silva</a></li>
                <li><a>rafaelnfsilva.contato@gmail.com | (12) 98127-7423</a></li>
                <li><a>São José dos Campos, São Paulo</a></li>
                <li><a href="https://www.linkedin.com/in/rafael-nunes-silva/">LinkedIn</a></li>
                <li><a href="https://github.com/Rafael-Nunes-Silva">Github</a></li>
            </ul>
        </div>
        <div class="col-1"></div>
    </footer>
</body>
</html>
