{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="static/css/Certificados.css">
{% endblock %}

{% block title %}
    <title>Quem Sou</title>
{% endblock %}

{% block content %}
    {% autoescape false %}
        <!-- {% for certificado in certificados %}
        {{ loop.index }}
        <div class="row">
            <div class="{{ cor }} certificado">
                <div>
                    <img src="{{ certificado.imagem }}" alt="{{ certificado.imagemAlt }}">
                </div>
                <div>
                    <p>{{ certificado.texto }}</p>
                </div>
            </div>
        </div>
        {% endfor %} -->

        <div class="row certRow">
        {% for certificado in certificados %}
        {% if loop.index % 2 == 0 %}
        {% set cor = 'claro' %}
        {% else %}
            {% if loop.index > 1 %}
                </div>
                <div class="row certRow">
            {% endif %}
            {% set cor = 'escuro' %}
        {% endif %}
            <div class="certificado">
                <div>
                    <img src="{{ certificado.imagem }}" alt="{{ certificado.imagemAlt }}">
                </div>
                <div>
                    <p>{{ certificado.texto }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endautoescape %}
{% endblock %}
