{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="static/css/Hobbies.css">
{% endblock %}

{% block title %}
    <title>Hobbies</title>
{% endblock %}

{% block content %}
    <div class="escuro hobbie row">
        <div class="col-6">
            <img src="static/images/Hobbies/programming.png">
        </div>
        <div class="col-1"></div>
        <div class="col-5">
            <p>Programar, além de tudo é um dos meus hobbies, alguns dos meus projetos feitos por hobbie são: <a href="https://github.com/Rafael-Nunes-Silva/Tic-Tac-Toe-Website">Tic-Tac-Toe-Website</a> | <a href="https://github.com/Rafael-Nunes-Silva/Sudoku-Website">Sudoku-Website</a> | <a href="https://github.com/Rafael-Nunes-Silva/Hangman-Website">Hangman-Website</a> | <a href="https://github.com/Rafael-Nunes-Silva/Linear-Equation-Solver">Linear-Equation-Solver</a> | <a href="https://github.com/Rafael-Nunes-Silva/Criador-de-lista-de-tarefas">Criador-de-lista-de-tarefas</a>.</p>
        </div>
    </div>
    <div class="divisor row"></div>
    <div class="escuro hobbie row">
        <div class="col-6">
            <img src="static/images/Hobbies/gaming.jpg">
        </div>
        <div class="col-1"></div>
        <div class="col-5">
            <p>Também sempre gostei de jogar diversos jogos, já joguei muito as versões antigas do <a href="https://store.steampowered.com/app/252490/Rust/">Rust</a>, também me aventurei no <a href="https://store.steampowered.com/app/690790/DiRT_Rally_20/">Rally</a> e atualmente estou jogando mais <a href="https://store.steampowered.com/app/730/CounterStrike_Global_Offensive/">CS</a> e <a href="https://store.steampowered.com/app/594650/Hunt_Showdown/">Hunt</a>.</p>
        </div>
    </div>
{% endblock %}
