{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="static/css/Hobbies.css">
{% endblock %}

{% block content %}
{% autoescape false %}
    {% for hobbie in hobbies %}
    {% if not loop.first %}
    <div class="divisor row"></div>
    {% endif %}
    <div class="hobbie row">
        <div class="col-6">
            <img src="{{ hobbie.imagem }}">
        </div>
        <div class="col-1"></div>
        <div class="col-5">
            <p>{{ hobbie.texto }}</p>
        </div>
    </div>
    {% endfor %}
{% endautoescape %}
{% endblock %}
