{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="static/css/Tecnologias.css">
{% endblock %}

{% block title %}
    <title>Tecnologias</title>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="tecnologias row">
        {% autoescape false %}
        {% for tecnologia in tecnologias %}
            {% if loop.first %}
                {% set posicao = 'primeira' %}
            {% elif loop.last %}
                {% set cor = 'ultima' %}
            {% else %}
                {% set cor = '' %}
            {% endif %}

            {% if loop.index % 2 == 0 %}
                {% set cor = 'escuro' %}
            {% else %}
                {% set cor = 'claro' %}
            {% endif %}

            <div class="{{ cor }} {{ posicao }} tecnologia col-2">
                <img src="{{ tecnologia.imagem }}" alt="ícone">
                <p>{{ tecnologia.texto }}</p>
            </div>
        {% if loop.index % 6 == 0 %}
        </div>
        <div class="tecnologias row">
        {% endif %}
        {% endfor %}
        {% endautoescape %}
        </div>



        <!-- <div class="tecnologias row">
            <div class="escuro primeira tecnologia col-2">
                <img src="static/images/Tecnologias/c.png" alt="C icon">
                <p>Você pode conferir meus conhecimentos em <a href="https://pt.wikipedia.org/wiki/C_(linguagem_de_programação)">C</a> dando uma olhada nos <abbr title="Rafael-Nunes-Silva"><a href="https://github.com/Rafael-Nunes-Silva">meus repositórios no Github</a></abbr>.</p>
            </div>
            <div class="claro tecnologia col-2">
                <img src="static/images/Tecnologias/c++.png" alt="C++ icon">
                <p>Você pode conferir meus conhecimentos em <a href="https://pt.wikipedia.org/wiki/C%2B%2B">C++</a> dando uma olhada nos <abbr title="Rafael-Nunes-Silva"><a href="https://github.com/Rafael-Nunes-Silva">meus repositórios no Github</a></abbr>.</p>
            </div>
            <div class="escuro tecnologia col-2">
                <img src="static/images/Tecnologias/CSharp.png" alt="C# icon">
                <p>Você pode conferir meus conhecimentos em <a href="https://pt.wikipedia.org/wiki/C_Sharp">C#</a> dando uma olhada nos <abbr title="Rafael-Nunes-Silva"><a href="https://github.com/Rafael-Nunes-Silva">meus repositórios no Github</a></abbr>.</p>
            </div>
            <div class="claro tecnologia col-2">
                <img src="static/images/Tecnologias/OpenGL.png" alt="OpenGL icon">
                <p>Você pode conferir meus conhecimentos em <a href="https://pt.wikipedia.org/wiki/OpenGL">OpenGL</a> dando uma olhada nos <abbr title="Rafael-Nunes-Silva"><a href="https://github.com/Rafael-Nunes-Silva">meus repositórios no Github</a></abbr>.</p>
            </div>
            <div class="escuro tecnologia col-2">
                <img src="static/images/Tecnologias/Python.png" alt="Python icon">
                <p>Você pode conferir meus conhecimentos em <a href="https://pt.wikipedia.org/wiki/Python">Python</a> dando uma olhada nos <abbr title="Rafael-Nunes-Silva"><a href="https://github.com/Rafael-Nunes-Silva">meus repositórios no Github</a></abbr>.</p>
            </div>
            <div class="claro ultima tecnologia col-2">
                <img src="static/images/Tecnologias/sql.png" alt="SQL icon">
                <p>Você pode conferir meus conhecimentos em <a href="https://pt.wikipedia.org/wiki/SQL">SQL</a> dando uma olhada nos <abbr title="Rafael-Nunes-Silva"><a href="https://github.com/Rafael-Nunes-Silva">meus repositórios no Github</a></abbr>.</p>
            </div>
        </div>
        <div class="divisor row"></div>
        <div class="tecnologias row">
            <div class="col-2"></div>
            <div class="claro primeira tecnologia col-2">
                <img src="static/images/Tecnologias/HTML.png" alt="HTML icon">
                <p>Você pode conferir meus conhecimentos em <a href="https://pt.wikipedia.org/wiki/HTML">HTML</a> dando uma olhada nos <abbr title="Rafael-Nunes-Silva"><a href="https://github.com/Rafael-Nunes-Silva">meus repositórios no Github</a></abbr>.</p>
            </div>
            <div class="escuro tecnologia col-2">
                <img src="static/images/Tecnologias/CSS.png" alt="CSS icon">
                <p>Você pode conferir meus conhecimentos em <a href="https://pt.wikipedia.org/wiki/Cascading_Style_Sheets">CSS</a> dando uma olhada nos <abbr title="Rafael-Nunes-Silva"><a href="https://github.com/Rafael-Nunes-Silva">meus repositórios no Github</a></abbr>.</p>
            </div>
            <div class="claro tecnologia col-2">
                <img src="static/images/Tecnologias/JavaScript.png" alt="JavaScript icon">
                <p>Você pode conferir meus conhecimentos em <a href="https://pt.wikipedia.org/wiki/JavaScript">JavaScript</a> dando uma olhada nos <abbr title="Rafael-Nunes-Silva"><a href="https://github.com/Rafael-Nunes-Silva">meus repositórios no Github</a></abbr>.</p>
            </div>
            <div class="col-2"></div>
            !--
            <div class="escuro tecnologia col-2">
                <img src="static/images/Tecnologias/?.png" alt="? icon">
                <p>Você pode conferir meus conhecimentos em <a href="https://pt.wikipedia.org/wiki/?">?</a> dando uma olhada nos <abbr title="Rafael-Nunes-Silva"><a href="https://github.com/Rafael-Nunes-Silva">meus repositórios no Github</a></abbr>.</p>
            </div>
            <div class="claro tecnologia col-2">
                <img src="static/images/Tecnologias/?.png" alt="? icon">
                <p>Você pode conferir meus conhecimentos em <a href="https://pt.wikipedia.org/wiki/?">?</a> dando uma olhada nos <abbr title="Rafael-Nunes-Silva"><a href="https://github.com/Rafael-Nunes-Silva">meus repositórios no Github</a></abbr>.</p>
            </div>
            <div class="escuro ultima tecnologia col-2">
                <img src="static/images/Tecnologias/?.png" alt="? icon">
                <p>Você pode conferir meus conhecimentos em <a href="https://pt.wikipedia.org/wiki/?">?</a> dando uma olhada nos <abbr title="Rafael-Nunes-Silva"><a href="https://github.com/Rafael-Nunes-Silva">meus repositórios no Github</a></abbr>.</p>
            </div>
            --
        </div> -->
    </div>
{% endblock %}