{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="static/css/Trabalhos.css">
{% endblock %}

{% block title %}
    <title>Trabalhos</title>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="trabalho row">
            <div class="col-1"></div>
            <div class="col-10">
                <h1>Nome do Cargo</h1>
                <div class="trabcont">
                    <p>Início: dd/mm/aaaa</p>
                    <p>Trabalhando atualmente</p>
                    <p>Descrição do cargo e o que fazia</p>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="trabalho row">
            <div class="col-1"></div>
            <div class="col-10">
                <h1>Nome do Cargo</h1>
                <div class="trabcont">
                    <p>Início: dd/mm/aaaa</p>
                    <p>Fim: dd/mm/aaaa</p>
                    <p>Descrição do cargo e o que fazia</p>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="trabalho row">
            <div class="col-1"></div>
            <div class="col-10">
                <h1>Nome do Cargo</h1>
                <div class="trabcont">
                    <p>Início: dd/mm/aaaa</p>
                    <p>Fim: dd/mm/aaaa</p>
                    <p>Descrição do cargo e o que fazia</p>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="trabalho row">
            <div class="col-1"></div>
            <div class="col-10">
                <h1>Nome do Cargo</h1>
                <div class="trabcont">
                    <p>Início: dd/mm/aaaa</p>
                    <p>Fim: dd/mm/aaaa</p>
                    <p>Descrição do cargo e o que fazia</p>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
{% endblock %}