<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/Trabalhos.css">

    <title>Trabalhos</title>
</head>
<body>
    <header class="row">
        <div class="col-4">
            <a href="Trabalhos">Trabalhos</a>
            <a href="Projetos">Projetos</a>
        </div>
        <div id="header-logo" class="col-4">
            <img src="static/images/Logo.png" alt="Logo">
            <a href="/">Quem Sou</a>
        </div>
        <div class="col-4">
            <a href="Hobbies">Hobbies</a>
            <a href="Tecnologias">Tecnologias</a>
        </div>
    </header>
    <div id="content">
        <div class="trabalho row">
            <div class="col-1"></div>
            <div class="col-10">
                <h1>Nome do Cargo</h1>
                <div class="trabcont">
                    <p>Início: dd/mm/aaaa</p>
                    <p>Trabalhando atualmente</p>
                    <p>Descrição do cargo e o que fazia</p>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="trabalho row">
            <div class="col-1"></div>
            <div class="col-10">
                <h1>Nome do Cargo</h1>
                <div class="trabcont">
                    <p>Início: dd/mm/aaaa</p>
                    <p>Fim: dd/mm/aaaa</p>
                    <p>Descrição do cargo e o que fazia</p>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="trabalho row">
            <div class="col-1"></div>
            <div class="col-10">
                <h1>Nome do Cargo</h1>
                <div class="trabcont">
                    <p>Início: dd/mm/aaaa</p>
                    <p>Fim: dd/mm/aaaa</p>
                    <p>Descrição do cargo e o que fazia</p>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="trabalho row">
            <div class="col-1"></div>
            <div class="col-10">
                <h1>Nome do Cargo</h1>
                <div class="trabcont">
                    <p>Início: dd/mm/aaaa</p>
                    <p>Fim: dd/mm/aaaa</p>
                    <p>Descrição do cargo e o que fazia</p>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <footer class="row">
        <div class="col-2"></div>
        <div class="col-3">
            <ul>
                <li><a href="Trabalhos.html">Trabalhos</a></li>
                <li><a href="Projetos.html">Projetos</a></li>
                <li><a href="Quem Sou.html">Quem Sou</a></li>
                <li><a href="Hobbies.html">Hobbies</a></li>
                <li><a href="Tecnologias.html">Tecnologias</a></li>
            </ul>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
            <ul>
                <li><a>Rafael Nunes de Farias Silva</a></li>
                <li><a>rafaelnfsilva.contato@gmail.com | (12) 98127-7423</a></li>
                <li><a>São José dos Campos, São Paulo</a></li>
                <li><a href="https://www.linkedin.com/in/rafael-nunes-silva/">LinkedIn</a></li>
                <li><a href="https://github.com/Rafael-Nunes-Silva">Github</a></li>
            </ul>
        </div>
        <div class="col-1"></div>
    </footer>
</body>
</html>