:root{
    --text: #c5c5c5;
    --background: #252832;
    --primary: #364759;
    --secondary: #ffb454;
    --accent: #0096cf;
}

* {
    box-sizing: border-box;

    color: var(--text);

    margin: 0px;
    padding: 0px;
    border: 0px;
}

[class*="col-"] {
    width: 100%;
    padding: 1%;
    float: left;
}
.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }
.row::after {
    content: "";
    clear: both;
    display: table;
}

.escuro     { background-color: var(--primary); }
.escuro p   { border: .1vh solid var(--text); }
.escuro img { border: .1vh solid var(--accent); }
.claro      { background-color: var(--text); }
.claro p    { border: .1vh solid var(--text); }
.claro img  { border: .1vh solid var(--accent); }

header{
    background-color: var(--background);

    border-bottom: .1vh solid var(--accent);

    height: 100px;
}
header a{
    margin: 2px;
    padding: 3px;

    /* background-color: var(--primary); */

    text-align: center;
    /* text-decoration: none; */

    border-radius: 5px;

    transition: .25s;
}
header .col-4{
    display: flex;
    height: 100%;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
}

#header-logo{
    display: flex;
    flex-direction: column;
    align-content: center;

    justify-content: space-around;
    align-items: center;
}
#header-logo img{
    border: .1vh solid var(--accent);
    border-radius: 5px;
}

body{
    background-color: var(--background);
    max-width: 2560px;
    margin: auto;
}

#content{
    min-height: calc(100vh - 200px);
}

.divisor{
    background-color: var(--accent);
    height: .25vh;
}

p a{
    /* background-color: var(--primary); */
    color: var(--text);

    border-radius: 5px;

    transition: .15s;
}

footer{
    /* background-color: var(--primary); */
    border: .1vh solid var(--primary);
    background-color: var(--background);
}
footer a{
    font-size: 32px;
}

/* Desktop Big */
@media only screen and (min-width: 1922px){
    header{
        height: 150px;
    }
    header a{
        font-size: 44px;
    }
    #quemsoubtn{
        font-size: 32px;
    }
    header .col-4{
        flex-direction: row;
    }
    
    #header-logo img{
        width: 80px;
        height: 80px;
    }
    
    footer a{
        font-size: 32px;
    }
}
/* Desktop Small */
@media only screen and (min-width: 1026px) and (max-width: 1921px){
    header{
        height: 120px;
    }
    header a{
        font-size: 28px;
    }
    #quemsoubtn{
        font-size: 22px;
    }
    header .col-4{
        flex-direction: row;
    }
    
    #header-logo img{
        width: 64px;
        height: 64px;
    }
    
    footer a{
        font-size: 22px;
    }
}
/* Tablet */
@media only screen and (min-width: 427px) and (max-width: 1025px){
    header a{
        font-size: 20px;
    }
    #quemsoubtn{
        font-size: 14px;
    }
    header .col-4{
        flex-direction: column;
    }
    
    #header-logo img{
        width: 64px;
        height: 64px;
    }
    
    footer a{
        font-size: 14px;
    }
}
/* Mobile */
@media only screen and (max-width: 426px){
    header a{
        font-size: 16px;
    }
    #quemsoubtn{
        font-size: 8px;
    }
    header .col-4{
        flex-direction: column;
    }
    
    #header-logo img{
        width: 64px;
        height: 64px;
    }
    
    footer a{
        font-size: 12px;
    }
}
