header{
    border-bottom: .1vh solid var(--cream);
}

.certRow{
    display: flex;
}

body{
    background-color: var(--charcoal);
}

.certificado{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.certificado div{
    width: 100%;
}
.certificado img{
    width: 100%;
}
.certificado p{
    background-color: var(--gold);

    padding: 5px;
    border-radius: 5px;
}

/* Big Desktop */
@media only screen and (min-width: 1922px){
    .certRow{
        flex-direction: row;
    }
    
    .certificado{
        width: 50%;
    
        padding: 30px;
    }
    .certificado p{
        padding: 10px;

        font-size: 40px;
    }
}
/* Small Desktop */
@media only screen and (min-width: 1026px) and (max-width: 1921px){
    .certRow{
        flex-direction: row;
    }
    
    .certificado{
        width: 50%;
    
        padding: 30px;
    }
    .certificado p{
        padding: 5px;

        font-size: 24px;
    }
}
/* Tablet */
@media only screen and (min-width: 427px) and (max-width: 1025px){
    .certRow{
        flex-direction: row;
    }
    
    .certificado{
        width: 50%;
    
        padding: 20px;
    }
    .certificado p{
        font-size: 18px;
    }
}
/* Mobile */
@media only screen and (max-width: 426px){
    .certRow{
        flex-direction: column;
    }
    
    .certificado{
        width: 100%;
    
        padding: 30px;
    }
    .certificado p{
        font-size: 14px;
    }
}
