.certRow{
    display: flex;
    flex-direction: row;
}

body{
    background-color: var(--charcoal);
}

.certificado{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    width: 50%;

    padding: 30px;
}
.certificado img{
    width: 100%;
}
.certificado p{
    background-color: var(--gold);

    padding: 5px;
    border-radius: 5px;
}



/* Mobile */
@media only screen and (min-width: 360px) {
    .certRow{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .certificado{
        width: 100%;
    }
    .certificado p{
        font-size: 14px;
    }
}



/* Tablets */
@media only screen and (min-width: 960px) {
    .certRow{
        flex-direction: row;
    }
    .certificado{
        width: 50%;
    }
    .certificado p{
        font-size: 22px;
    }
}



/* Desktop */
@media only screen and (min-width: 1280px) {
    .certRow{
        flex-direction: row;
    }
    .certificado{
        width: 50%;
    }
    .certificado p{
        font-size: 24px;
    }
}
