.hobbie{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.hobbie .col-6{
    width: 100%;
}
.hobbie .col-5{
    width: 100%;
}
.hobbie img{
    width: 100%;
}
.hobbie p{
    background-color: var(--primary);
    margin-top: 15px;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}

/* Big Desktop */
@media only screen and (min-width: 1922px){
    .hobbie{
        flex-direction: row;
    }
    .hobbie p{
        font-size: 44px;
    }
}
/* Small Desktop */
@media only screen and (min-width: 1026px) and (max-width: 1921px){
    .hobbie{
        flex-direction: row;
    }
    .hobbie p{
        font-size: 28px;
    }
}
/* Tablet */
@media only screen and (min-width: 427px) and (max-width: 1025px){
    .hobbie{
        flex-direction: row;
    }
    .hobbie p{
        font-size: 18px;
    }
}
/* Mobile */
@media only screen and (max-width: 426px){
    .hobbie{
        flex-direction: column;
    }
    .hobbie .col-6{
        width: 90%;
    }
    .hobbie .col-5{
        width: 80%;
    }
    .hobbie p{
        font-size: 14px;
    }
}
