.proj-dropdown{
    background-color: var(--cream);
    border-bottom: .1vh solid var(--charcoal);
}
.proj-dropdown-btn{
    background-color: var(--gold);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    width: 100%;
    height: 50px;
}
.proj-dropdown-btn img{
    width: 50px;
    height: 50px;
}

.projeto{
    align-items: center;
    text-align: center;

    flex-direction: row;
}
.projeto .col-6{
    width: 100%;
}
.projeto .col-5{
    width: 100%;
}
.projeto img{
    width: 100%;
}
.projeto p{
    background-color: var(--gold);

    padding: 5px;
    border-radius: 5px;
}

/* Big Desktop */
@media only screen and (min-width: 1922px){
    .proj-dropdown-btn{
        height: 70px;
    
        font-size: 44px;
    }
    .proj-dropdown-btn img{
        width: 70px;
        height: 70px;
    }

    .projeto p{
        font-size: 36px;
    }
}
/* Small Desktop */
@media only screen and (min-width: 1026px) and (max-width: 1921px){
    .proj-dropdown-btn{
        height: 50px;
    
        font-size: 32px;
    }
    .proj-dropdown-btn img{
        width: 50px;
        height: 50px;
    }

    .projeto p{
        font-size: 28px;
    }
}
/* Tablet */
@media only screen and (min-width: 427px) and (max-width: 1025px){
    .proj-dropdown-btn{
        height: 38px;
    
        font-size: 24px;
    }
    .proj-dropdown-btn img{
        width: 38px;
        height: 38px;
    }

    .projeto p{
        font-size: 18px;
    }
}
/* Mobile */
@media only screen and (max-width: 426px){
    .proj-dropdown-btn{
        height: 32px;
    
        font-size: 24px;
    }
    .proj-dropdown-btn img{
        width: 32px;
        height: 32px;
    }

    .projeto{
        flex-direction: column;
    }
    .projeto .col-6{
        width: 90%;
    }
    .projeto .col-5{
        width: 80%;
    }
    .projeto p{
        font-size: 14px;
    }
}
