.tecnologias{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.tecnologia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tecnologia img{
    width: 100%;
}
.tecnologia p{
    background-color: var(--primary);
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
.divisor-horizontal{
    height: 5px;
}
.divisor{
    background-color: var(--text);
}
.escuro p{
    border: .1vh solid var(--secondary);
}
.escuro img{
    border: 0px;
}
.claro p{
    border: .1vh solid var(--text);
}
.claro img{
    border: 0px;
}



/* Mobile */
@media only screen and (min-width: 360px) {
    .tecnologias .col-2{
        width: 50%;
        
        border-top: .1vh solid var(--text);
        border-right: 0px;
        border-bottom: .1vh solid var(--text);
        border-left: 0px;
    }
    .tecnologias .primeira{
        border-top: 0px;
        border-right: 0px;
        border-bottom: .1vh solid var(--text);
        border-left: 0px;
    }
    .tecnologias .ultima{
        border-top: .1vh solid var(--text);
        border-right: 0px;
        border-bottom: 0px;
        border-left: 0px;
    }
    .tecnologia p{
        font-size: 16px;
    }
}



/* Tablets */
@media only screen and (min-width: 960px) {
    .tecnologias .col-2{
        width: 33.33%;

        border-top: 0px;
        border-right: .1vh solid var(--text);
        border-bottom: 0px;
        border-left: .1vh solid var(--text);
    }
    .tecnologias .primeira{
        border-top: 0px;
        border-right: .1vh solid var(--text);
        border-bottom: 0px;
        border-left: 0px;
    }
    .tecnologias .ultima{
        border-top: 0px;
        border-right: 0px;
        border-bottom: 0px;
        border-left: .1vh solid var(--text);
    }
    .tecnologia p{
        font-size: 18px;
    }
}



/* Desktop */
@media only screen and (min-width: 1280px) {
    .tecnologias .col-2{
        width: 16.66%;
        
        border-top: 0px;
        border-right: .1vh solid var(--text);
        border-bottom: 0px;
        border-left: .1vh solid var(--text);
    }
    .tecnologias .primeira{
        border-top: 0px;
        border-right: .1vh solid var(--text);
        border-bottom: 0px;
        border-left: 0px;
    }
    .tecnologias .ultima{
        border-top: 0px;
        border-right: 0px;
        border-bottom: 0px;
        border-left: .1vh solid var(--text);
    }
    .tecnologia p{
        font-size: 20px;
    }
}
