#trabalhos-titulo .col-12{
    background-color: var(--primary);
    text-align: center;
}

.trabalho{
    display: flex;
    justify-content: center;
    align-items: center;
}
.trabalho h1{
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
}
.trabalho p{
    padding: 5px 15px;
}

.trabcont{
    padding-top: 10px;
    border-radius: 0px 0px 5px 5px;
}
.trabdatas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--primary);
    border-radius: 5px 5px 0px 0px;
}
.trabcont .descricao{
    background-color: var(--primary);
    border-radius: 0px 0px 5px 5px;
}

/* Big Desktop */
@media only screen and (min-width: 1922px){
    #trabalhos-titulo .col-12{
        font-size: 36px;
    }
    .trabalho{
        flex-direction: row;
    }
    .trabalho .col-5{
        width: 41.66%;
    }
    .trabalho h1{
        font-size: 32px;
    }
    .trabcont{
        font-size: 32px;
    }
}
/* Small Desktop */
@media only screen and (min-width: 1026px) and (max-width: 1921px){
    #trabalhos-titulo .col-12{
        font-size: 26px;
    }
    .trabalho{
        flex-direction: row;
    }
    .trabalho .col-5{
        width: 41.66%;
    }
    .trabalho h1{
        font-size: 26px;
    }
    .trabcont{
        font-size: 26px;
    }
}
/* Tablet */
@media only screen and (min-width: 427px) and (max-width: 1025px){
    #trabalhos-titulo .col-12{
        font-size: 20px;
    }
    .trabalho{
        flex-direction: row;
    }
    .trabalho .col-5{
        width: 41.66%;
    }
    .trabalho h1{
        font-size: 28px;
    }
    .trabcont{
        font-size: 24px;
    }
}
/* Mobile */
@media only screen and (max-width: 426px){
    #trabalhos-titulo .col-12{
        font-size: 20px;
    }
    .trabalho{
        flex-direction: column;
    }
    .trabalho .col-5{
        width: 83.33%;
    }
    .trabalho h1{
        font-size: 20px;
    }
    .trabcont{
        font-size: 14px;
    }
}
