.trabalho{
    display: flex;
    justify-content: center;
    align-items: center;
}
.trabalho h1{
    background-color: var(--tan);
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
}
.trabalho p{
    padding: 5px 15px;
}

.trabcont{
    background-color: var(--gold);
    padding: 10px 0px;
    border-radius: 0px 0px 5px 5px;
}



/* Mobile */
@media only screen and (min-width: 360px) {
    .trabalho{
        flex-direction: column;
    }
    .trabalho .col-5{
        width: 83.33%;
    }
    .trabalho h1{
        font-size: 20px;
    }
    .trabcont{
        font-size: 14px;
    }
}



/* Tablets */
@media only screen and (min-width: 960px) {
    .trabalho{
        flex-direction: row;
    }
    .trabalho .col-5{
        width: 41.66%;
    }
    .trabalho h1{
        font-size: 28px;
    }
    .trabcont{
        font-size: 24px;
    }
}



/* Desktop */
@media only screen and (min-width: 1280px) {
    .trabalho{
        flex-direction: row;
    }
    .trabalho .col-5{
        width: 41.66%;
    }
    .trabalho h1{
        font-size: 32px;
    }
    .trabcont{
        font-size: 32px;
    }
}
